Repository woowa-techcamp-2020/todo-10, pull requests merged in 2020-07, with the labels that each got.

#3 chore: Setup webpack and babel.
  client/.babelrc
  client/package-lock.json
  client/package.json
  client/src/index.js
  client/webpack.config.js
Labels: client

#25 Setup webpack
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/webpack.config.common.js
  client/webpack.config.dev.js
  client/webpack.config.js
  client/webpack.config.production.js
Labels: client

#26 Jest setup
  client/.babelrc
  client/babel.config.js
  client/jest.config.js
  client/package-lock.json
  client/package.json
  client/src/lib/__mocks__/styleMock.js
Labels: client

#27 페이지 구조 만들기
  client/package-lock.json
  client/package.json
  client/src/components/Button.css
  client/src/components/Button.js
  client/src/components/Element.js
  client/src/components/Header.css
  client/src/components/Header.js
  client/src/components/List.js
  client/src/components/Main.js
  client/src/components/__test__/Button.test.js
  client/src/index.js
  client/src/reset.css
Labels: client

#29 메인 페이지 마크업 프로토타입
  client/src/components/Button.js
  client/src/components/Column.css
  client/src/components/Column.js
  client/src/components/Header.css
  client/src/components/Header.js
  client/src/components/Kanban.css
  client/src/components/Kanban.js
  client/src/components/List.js
  client/src/components/Main.js
  client/src/components/Todo.css
  client/src/components/Todo.js
  client/src/components/__tests__/Button.test.js
  client/src/components/__tests__/Todo.test.js
  client/src/components/basic/Element.js
  client/src/components/basic/List.js
  client/src/components/basic/__tests__/Element.test.js
  client/src/components/basic/index.js
  client/src/index.js
Labels: client

#30 feat: ec2 DB 테이블 생성 스크립트 작성
  server/package-lock.json
  server/package.json
  server/scripts/createTable.js
Labels: db

#32 Feat/markup
  client/src/components/Button.css
  client/src/components/Button.js
  client/src/components/Column.css
  client/src/components/Column.js
  client/src/components/Header.css
  client/src/components/Header.js
  client/src/components/Header.scss
  client/src/components/Kanban.css
  client/src/components/Main.js
  client/src/components/Todo.css
  client/src/components/basic/Button.js
  client/src/components/basic/Element.js
  client/src/components/basic/H.js
  client/src/components/basic/__tests__/Button.test.js
  client/src/components/basic/index.js
Labels: client

#39 Column 마크업 만들기
  client/src/components/Column.css
  client/src/components/Column.js
  client/src/components/Column.scss
  client/src/components/Main.js
  client/src/components/basic/List.js
  client/src/components/global.scss
  client/src/index.js
Labels: client

#41 메뉴 마크업 만들기
  client/src/components/Log.css
  client/src/components/Log.js
  client/src/components/Main.js
  client/src/components/Menu.css
  client/src/components/Menu.js
  client/src/components/__tests__/Log.test.js
  client/src/components/basic/Element.js
  server/scripts/createTable.js
Labels: client

#42 Todo 마크업 만들기
  client/src/components/Main.js
  client/src/components/Todo.css
  client/src/components/Todo.js
  client/src/components/global.scss
Labels: client

#43 백엔드 테스트 세팅
  server/app.js
  server/babel.config.js
  server/package-lock.json
  server/package.json
  server/routes/__test__/index.test.js
  server/routes/index.js
  server/routes/users.js
Labels: api, server

#45 Column/todo 불러오는 api 만들기
  client/src/components/__tests__/Column.test.js
  server/.env.sample
  server/__tests__/getColumnsApi.test.js
  server/__tests__/getTodosApi.test.js
  server/app.js
  server/package-lock.json
  server/package.json
  server/routes/__test__/index.test.js
  server/routes/apis/columnsApi.js
  server/routes/apis/todosApi.js
  server/routes/index.js
Labels: api, server

#47 모달 컴포넌트 만들기
  client/src/components/Main.js
  client/src/components/basic/Element.js
  client/src/components/basic/Modal.js
  client/src/components/basic/Modal.scss
  client/src/components/global.scss
Labels: client

#48 feat: todo 입력 마크업 제작
  client/src/components/Column.js
  client/src/components/Column.scss
  client/src/components/basic/Input.js
  client/src/components/basic/Textarea.js
Labels: client

#49 테스트 데이터 추가하는 스크립트 만들기
  server/initDb.sh
  server/scripts/createTable.js
  server/scripts/insertTestData.js
  server/scripts/sendQueries.js
Labels: db

#52 refactor: form button과 관련된 css 분리, NewTodoWrapper->NewTodoForm 으로 변경
  client/src/components/Column.js
  client/src/components/Column.scss
  client/src/components/basic/Button.js
  client/src/components/basic/Textarea.js
  client/src/components/global.scss
Labels: client

#53 투두 수정 모달을 추가했습니다.
  client/src/components/Column.js
  client/src/components/Column.scss
  client/src/components/Main.js
  client/src/components/ModalTodoEdit/index.js
  client/src/components/global.scss
Labels: client

#54 refactor: Change close mothod in modal to general method of Element
  client/src/components/basic/Element.js
  client/src/components/basic/Modal.js
Labels: refactor

#57 refactor: 컴포넌트 폴더구조로 바꾸기
  client/src/components/Column/Column.scss
  client/src/components/Column/NewTodoForm.js
  client/src/components/Column/index.js
  client/src/components/Header/Header.scss
  client/src/components/Header/index.js
  client/src/components/Kanban/Kanban.css
  client/src/components/Kanban/index.js
  client/src/components/Log/Log.css
  client/src/components/Log/index.js
  client/src/components/Menu/Menu.css
  client/src/components/Menu/index.js
  client/src/components/ModalColumnTitleEdit/ColumnTitleEditForm.js
  client/src/components/ModalColumnTitleEdit/index.js
  client/src/components/ModalTodoEdit/index.js
  client/src/components/Todo/Todo.css
  client/src/components/Todo/index.js
  client/src/components/basic/H.js
  client/src/components/basic/List/Li.js
  client/src/components/basic/List/index.js
  client/src/components/basic/Modal/Modal.scss
  client/src/components/basic/Modal/ModalContent.js
  client/src/components/basic/Modal/index.js
  client/src/components/basic/Textarea.js
  client/src/components/basic/index.js
Labels: refactor

#59 feat: 컬럼 제목 수정하는 모달 제작
  client/src/components/Column/index.js
  client/src/components/FormModal/index.js
  client/src/components/ModalColumnTitleEdit/ColumnTitleEditForm.js
  client/src/components/ModalColumnTitleEdit/index.js
  client/src/components/ModalTodoEdit/index.js
  client/src/components/basic/Input.js
Labels: client, refactor

#63 fix: Remove source map from webpack production config
  client/webpack.config.common.js
  client/webpack.config.dev.js
Labels: bug

#64 Feat/docker
  .env.sample
  README.md
  docker-compose.yml
  docker/mysql/init.sql
  docker/nginx/nginx.conf
  server/.dockerignore
  server/Dockerfile
  start.sh
Labels: documentation, enhancement

#68 Feat/remove todo
  client/package-lock.json
  client/package.json
  client/src/components/Main.js
  client/src/components/Menu/index.js
  client/src/components/Todo/index.js
  client/src/components/basic/Element.js
  client/src/components/basic/List/index.js
  client/src/components/basic/ModalConfirm/index.js
  client/src/lib/LogEvent.js
  client/src/lib/apiCallWrapper.js
  client/webpack.config.common.js
  server/routes/index.js
Labels: api, client, server

#72 Feat/todo drag
  client/src/components/Todo/Todo.css
  client/src/components/Todo/index.js
  client/src/components/TodoDrag/DragPlaceholder.js
  client/src/components/TodoDrag/TodoDrag.css
  client/src/components/TodoDrag/index.js
Labels: client

#73 refactor: TodoDrag 내부 함수 분리, Todo 클릭시 위치 어긋나던 문제 해결
  client/src/components/Todo/Todo.css
  client/src/components/Todo/index.js
  client/src/components/TodoDrag/index.js
Labels: client, refactor

#74 Fix/api,delete button
  client/src/components/Todo/index.js
  client/src/lib/apiCallWrapper.js
Labels: client

#76 투두 불러오는 api 만들기
  client/src/components/Kanban/index.js
  client/src/components/Main.js
  client/src/lib/apiCallWrapper.js
  docker/mysql/init.sql
  server/lib/useDbConnection.js
  server/routes/apis/loadTodosApi.js
  server/routes/apis/todosApi.js
  server/routes/index.js
  server/scripts/createTable.js
Labels: api, bug, db, server

#77 Feat/add todo api
  server/app.js
  server/routes/apis/addTodoApi.js
  server/routes/index.js
Labels: db, server

#80 fix: DB 스키마 변화에 따른 적응
  docker/mysql/init.sql
  server/scripts/createTable.js
  server/scripts/insertTestData.js
Labels: bug

#81 Fix/docker db
  docker-compose.yml
  docker/mysql/init.sql
Labels: bug

#79 feat: column content 수정하는 api 만듦
  client/src/components/Column/index.js
  client/src/components/Kanban/index.js
  client/src/lib/apiCallWrapper.js
  docker/mysql/init.sql
  server/routes/apis/columnsApi.js
  server/routes/apis/loadTodosApi.js
  server/routes/index.js
  server/scripts/createTable.js
  server/scripts/insertTestData.js
Labels: api, db, server

#83 두투 삭제 api 구현
  docker/mysql/init.sql
  server/routes/apis/deleteTodoApi.js
  server/routes/index.js
Labels: api, bug, server

#86 fix typo
  server/lib/getUserById.js
  server/routes/apis/addTodoApi.js
Labels: bug

#82 fix: isValid -> isValidAll, 함수 안 변수명 content -> nextColumnConent
  server/routes/apis/columnsApi.js
Labels: bug, refactor

#88 클라이언트 컬럼 이름 수정 구현
  client/src/components/Column/index.js
  client/src/components/FormModal/index.js
  client/src/components/Menu/index.js
  client/src/components/ModalColumnTitleEdit/index.js
  client/src/components/Todo/index.js
  server/routes/apis/addTodoApi.js
  server/routes/apis/columnsApi.js
Labels: client

#91 Todo remove 시 db log 저장
  client/src/components/Column/index.js
  client/src/components/Todo/index.js
  docker/mysql/init.sql
  server/routes/apis/deleteTodoApi.js
Labels: bug, server

#90 feat: todo 추가 기능 구현
  client/src/components/Column/Column.scss
  client/src/components/Column/NewTodoForm.js
  client/src/components/Column/index.js
  client/src/components/global.scss
  client/src/lib/apiCallWrapper.js
  server/routes/apis/addTodoApi.js
  server/routes/apis/loadTodosApi.js
Labels: api, client

#92 fix: remove todo에서 inserted log id를 반환
  server/routes/apis/deleteTodoApi.js
Labels: bug

#94 feat: todo 추가시 로그를 DB에 저장함
  server/routes/apis/addTodoApi.js
Labels: db

#95 초기화 화면에서 로그 불러오고 렌더하기
  client/src/components/Menu/index.js
  client/src/lib/apiCallWrapper.js
  server/routes/apis/loadLogsApi.js
  server/routes/index.js
Labels: api, client, db, server

#97 fix: textarea 크기 조절할때 레이아웃 깨지는 문제 수정했습니다.
  client/src/components/Column/Column.scss
  client/src/components/Column/index.js
  client/src/components/global.scss
Labels: bug, client

#98 todo edit api implementation
  server/routes/apis/editTodoApi.js
  server/routes/index.js
Labels: server

#100 Feat/menu
  client/src/components/Header/index.js
  client/src/components/Log/Log.css
  client/src/components/Main.js
  client/src/components/Menu/Menu.css
  client/src/components/Menu/index.js
  client/src/components/global.scss
Labels: client

#102 스타일 작업
  client/public/index.html
  client/src/components/Column/Column.scss
  client/src/components/Todo/Todo.css
  client/src/components/Todo/index.js
  client/src/components/TodoDrag/TodoDrag.css
  client/src/components/TodoDrag/index.js
  client/src/components/global.scss
  client/src/reset.css
Labels: client

#104 fix: column에 flex 적용해서 todo add form 동적 높이에 따라서 todo list 높이 자동 변경
  client/src/components/Column/Column.scss
  client/src/components/Column/index.js
Labels: client

#103 feat: todo edit frontend 로직
  client/src/components/Todo/index.js
  client/src/lib/apiCallWrapper.js
  server/routes/apis/editTodoApi.js
Labels: api, bug, client, server

#105 fix: 테스트 버튼 제거했습니다.
  client/src/components/Main.js
Labels: client

#106 Feat/todo move api
  server/lib/saveLog.js
  server/routes/apis/moveTodoApi.js
  server/routes/index.js
Labels: api, server

#114 fix: place holder 스타일을 todo 투명한 모습으로 변경
  client/src/components/TodoDrag/DragPlaceholder.js
  client/src/components/TodoDrag/TodoDrag.css
  client/src/components/TodoDrag/index.js
Labels: client

#115 Fix/api
  server/lib/checkUser.js
  server/lib/index.js
  server/routes/apis/addTodoApi.js
  server/routes/apis/columnsApi.js
  server/routes/apis/deleteTodoApi.js
  server/routes/apis/editTodoApi.js
  server/routes/apis/loadLogsApi.js
  server/routes/apis/loadTodosApi.js
  server/routes/apis/moveTodoApi.js
  server/routes/index.js
Labels: server

#118 Style/log
  client/src/components/Log/Log.css
  client/src/components/Log/index.js
  client/src/components/Menu/Menu.css
  client/src/components/Menu/index.js
Labels: client

#117 feat: 프론트엔드에서 todo card 옮길 때 api 호출하는 로직 작성
  client/src/components/Column/index.js
  client/src/components/Todo/index.js
  client/src/components/TodoDrag/index.js
  client/src/components/basic/Element.js
  client/src/lib/apiCallWrapper.js
Labels: client

#119 todo mousedown 오른쪽 클릭 검사
  client/src/components/Todo/index.js
Labels: bug, client

#122 Fix/rendering issue121
  client/src/components/Column/Column.scss
  client/src/components/Column/NewTodoForm.js
  client/src/components/Column/index.js
  client/src/components/Menu/index.js
  client/src/components/Todo/index.js
Labels: client

#124 fix: 로그에서 한 달 작게 나오는 문제 해결
  client/src/components/Log/index.js
Labels: bug

#123 Feat/add column
  client/src/components/FormModal/index.js
  client/src/components/Kanban/CreateColumnBox.css
  client/src/components/Kanban/CreateColumnBox.js
  client/src/components/Kanban/index.js
  client/src/components/Menu/index.js
  client/src/lib/apiCallWrapper.js
  server/lib/saveLog.js
  server/routes/apis/addColumnApi.js
  server/routes/index.js
Labels: client, server

#126 Feat/remove column api
  server/lib/saveLog.js
  server/routes/apis/deleteColumnApi.js
  server/routes/index.js
Labels: server

#127 feat: column 삭제 프론트엔드 로직
  client/src/components/Column/index.js
  client/src/components/Menu/Menu.css
  client/src/components/Menu/index.js
  client/src/lib/apiCallWrapper.js
Labels: client

#128 Chore/change title
  client/public/index.html
  client/src/components/Header/Header.scss
  client/src/components/Header/index.js
  client/src/components/Kanban/CreateColumnBox.css
  client/src/components/global.scss
Labels: client

#131 fix: issue #130
  client/src/components/Column/NewTodoForm.js
  client/src/components/Column/index.js
  client/src/components/Menu/index.js
  client/src/components/global.scss
Labels: client

#133 fix: menu 타이틀은 스크롤이 있어도 항상 보이게
  client/src/components/Menu/Menu.css
  client/src/components/Menu/index.js
Labels: client
